<!-- Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
 
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
 
<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
 
<!-- Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css ">

<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<!-- vue -->
<script src="https://unpkg.com/vue@3"></script>

<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Michroma&family=Noto+Sans+HK:wght@400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@500;600;700;900&display=swap" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="Content/Cloud3.css">

<section id="app1" class="contents px-3">

    <div class="d-flex justify-content-start align-items-center">
        <button class="m-2 sort_btn" v-for="item in sort_options">{{item.sort}}</button>
    </div>

    <div class="row">
        <div class="col-6 col-sm-4 col-md-2" v-for="book in sort_books_1">
            <a class="card" :href="book.url">
                <div class="d-flex justify-content-center align-items-center" style="height: 160px;">
                    <img class="img-fluid" :alt="book.title" :src="book.src ? book.src : 'images/book_n.gif'">
                </div>
                <div class="card-body">
                    <p class="card-title">{{book.title}}</p>
                </div>
            </a>
        </div>
    </div>
</section>

<script>
    const app1 = Vue.createApp({
        data() {
            return {
                sort_options: [
                    { sort: '普高'},
                    { sort: '技高'},
                ],
                sort_books_1 : [
                    {src:"images/book.gif", url:"book.html", title:"高中國文全六冊(101課綱)"},
                    {src:"", url:"book.html", title:"高職國文全六冊(99課綱)"},
                    {src:"images/book.gif", url:"book.html", title:"普高國文(一)(111版)"},
                    {src:"", url:"book.html", title:"普高國文(二)(111版)"},
                    {src:"images/book.gif", url:"book.html", title:"普高國文(三)(111版)"},
                    {src:"images/book.gif", url:"book.html", title:"文教全二冊(101課綱)"},
                    {src:"images/book.gif", url:"book.html", title:"技高國文１(110版)"},
                    {src:"images/book.gif", url:"book.html", title:"技高國文２(110版)"},
                    {src:"images/book.gif", url:"book.html", title:"技高國文３(110版)"},
                    {src:"images/book.gif", url:"book.html", title:"技高國文５(110版)"},
                ],
            }
        },
    })
    app1.mount("#app1");
</script>