* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}
::-webkit-scrollbar {
    display: none;
  }
.darkscrollbar {
    max-height: 500px;
}
.darkscrollbar, .cust-scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
}

.darkscrollbar::-webkit-scrollbar {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #f0f0f0;
}

.darkscrollbar::-webkit-scrollbar-thumb {
    margin: 5px 0;
    background: #3b3b3b;
    border-radius: 10px;
}

  .d-none {
    display: none;
}
.d-1200-none {
    display: none;
}
@media (max-width: 1350px) {
    .p-1350-none {
        display: none !important;
    }
}
@media (max-width: 1200px) {
    .p-1200-none {
        display: none !important;
    }
    .d-1200-none {
        display: block !important;
    }
    .fz-lg-14 {
        font-size: 14px;
    }
}
@media (max-width: 990px) {
    .p-none {
        display: none !important;
    }
    .d-none {
        display: block !important;
    }
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.fz-22 {
    font-size: 22px !important;
}

/* header */
.top_header {
    width: 100%;
    padding-right: 20px;
    height: 5.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2f0f1;
}
.nav_logo {
    max-width: 140px;
    margin: auto;
}
.nav_btn {
    max-width: 150px;
    margin: 0 2px;
    padding: 0 10px;
    border: 2px solid transparent;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.5s;
}
.nav_btn img {
    width: 27px;
}
.nav_btn:hover {
    border: 2px solid #46969e;
}
.user_btn {
    font-size: 16px;
    padding: 5px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
}
.user_btn img {
    /* width: 45px; */
    border: 2px solid #818181;
    border-radius: 30px;
    overflow: hidden;
}
.user_sm_img {
    width: 100%;
    padding: 0;
    border: 2px solid #818181;
    border-radius: 30px;
    overflow: hidden;
}

footer {
    background-color: #e2f0f1;
    height: 48px;
    font-weight: 600;
    color: #1c686e;
}


section.contents {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* left menu */
.sub_menu {
    height: calc(100vh - 95px);
    overflow-y: auto;
    overflow-x: hidden;
}
.sub_menu::-webkit-scrollbar {
    display: block;
    width: 3px;
    height: 5px;
    background-color: #f0f0f0;
}
.sub_menu::-webkit-scrollbar-thumb {
    margin: 5px 0;
    background: #768b8d;
    border-radius: 10px;
}

.sub_btn {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    margin: 8px auto 0;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s;
}
.partBtn {
    background-color: #badfdf;
}
button.sub_btn:hover {
    border: 2px solid #c55454;
}
button.sub_btn:focus {
    background-color: #f0cdcd;
}

/* menuBox / userBox */
.bi.bi-list, .bi.bi-x-circle, .bi.bi-arrow-90deg-left {
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}
.bi.bi-x-circle {
    right: 3%;
    position: absolute;
    top: 0;
    color: #35aeba;
}
.bi.bi-x-circle:hover {
    color: #228992;
}
.menuBox, .userBox {
    position: absolute;
    z-index: 999;
    box-shadow: 0 2px 6px #ccc;
    background-color: #fff;
    border: unset;
}
.block {
    display: none;
}
.menuBox .nav_btn {
    max-width: 150px;
    margin: 3px;
    border: 1px solid #818181;
    border-radius: 5px;
    overflow: hidden;
}
.menuBox .sub_btn {
    width: 100px;
    height: 30px;
    padding: 0;
    margin: 3px;
    background-color: #fff;
    border: 1px solid #818181;
    border-radius: 5px;
    text-align: center;
}
.userBox {
    top: 70px;
    right: 0;
}


/* main.html */
.carousel-indicators {
    bottom: -40px;
}
.carousel-indicators li {
    background-color: #333;
}
.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}
.carousel-control-next {
    right: -50px;
}
.carousel-control-prev {
    left: -50px;
}
@media (max-width: 768px) {
.carousel-control-next {
    right: -10px;
}
.carousel-control-prev {
    left: -10px;
}
}

.user_mainSub {
    position: relative;
  }
  .swiper-container {
    overflow: hidden;
    height: 360px;
  }
  .swiper-button-next, .swiper-button-prev {
      color: #333;
  }

.card {
    margin-top: 10px;
    padding: 10px 0;
    height: 95%;
}
.img-fluid {
    max-height: 100%;
    max-width: 70%;
    margin: auto;
}
.card-body {
    padding: 5px 20px;
}
.card-title {
    text-align: center;
    margin: 0;
    font-size: 14px;
}

/* page1.html */
.sort_btn {
    background-color: #fff;
    border: 2px solid #5485c5;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
}
.sort_btn:focus, .sort_btn:hover {
    background-color: #d0dff5;
}

/* book.html */
.book_btn {
    background-color: #fff;
    color: #de9b00;
    font-size: 14px;
    border: 2px solid #ffb200;
    border-radius: 15px;
    padding: 2px 5px;
}
.book_btn:hover {
    background-color: #fff4d9;
    color: #de9b00;
}
.cddrop {
    display: inline-block;
}
.cdBox {
    position: absolute;
    top: 45px;
    z-index: 999;
    box-shadow: 0 2px 6px #ccc;
    background-color: #fff;
    border-radius: 10px;
}
.cdBox a p {
    margin-bottom: 5px;
}
.cdBox a p:hover {
    border-radius: 10px;
    background-color: #e9f7fa;
}

label {
    cursor: pointer;
}
.checkbox-option.px-3 {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 1px #cedee2;
    border-radius: 15px;
    margin-left: 10px;
}
.checkbox-option {
    margin-left: 10px;
}
.dropdown {
    display: inline-block;
    width: 200px;
    margin: 0 5px 10px 0px;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
}
.dropdown .d-flex {
    box-shadow: 1px 1px 2px 1px #cedee2;
    border-radius: 15px;
    padding: 0 15px;
}
.dropdown .d-flex:hover {
    background-color: #e9f7fa;
}
.dropdown .d-flex label {
    width: 200px;
}

.dropdown-list {
    display: none;
    position: absolute;
    right: 0px;
    top: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #999;
    /* max-height: 190px; */
    overflow-y: auto;
    z-index: 999;
}

.dropdown-option {
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin: 0;
}
.checked-option {
    margin: 0;
}
.dropdown-option:hover, .checkbox-option:hover {
    border-radius: 15px;
    background-color: #e9f7fa;
}
input[type="checkbox"]:checked + .checked-option {
    background-color: #dd8115;
    border-radius: 10px;
    color: white;
  }
.checkallBox {
    background-color: #f0f7f8;
    border: 2px solid #c8d7db;
    border-radius: 15px;
    padding: 2px 10px;
    /* margin-left: 20px; */
}
.pre-option {
    border-bottom: 1px solid #e2f0f1;
   }     
.pre-option:hover {
    background-color: #f2f9f9;
}
.checkallBox.pre-check {
    background-color: unset;
    border: unset;
    border-radius: 0;
}
.checkbox-option.text-center {
    margin: 0;
    padding: 0 15px;
}
@media (max-width: 1200px) {
    .checkbox-option.text-center input {
    margin: 0 0 8px 20px;
    padding: 2px 10px;
}
}